.additional {
    margin-left: 5vw;
}

.additional p {
    font-size: 1.5vw;
    text-align: justify;
}

@media (max-width: 768px) {
    .additional {
        margin-right: 5vw;
    }

    .additional p {
        font-size: 3.5vw;
    }
}