.certContainer {
    margin-left: 5vw;
    display: flex;
}

.certleft p,
.certright p {
    font-size: 1.5vw;
}

.certleft i {
    font-size: 1.3vw;
}

.certleft {
    width: 19.5vw;
}

@media (max-width: 768px) {

    .certleft p {
        font-size: 3.5vw;
    }

    .certleft i {
        font-size: 3.0vw;
    }

    .certleft {
        width: 21.5vw;
    }

    .certright {
        margin-left: 15vw;
        margin-right: 3.0vw;
    }

    .certright p {
        font-size: 3.5vw;
    }

    .cursor {
        margin-bottom: 7vw;
    }

    .ai {
        margin-bottom: 1vw;
    }

    .dataanalysis {
        margin-bottom: 7.5vw;
    }

    .andriod {
        margin-bottom: 7.7vw;
    }


    .programming,
    .coding1 {
        margin-bottom: 7vw;
    }

    .coding2 {
        margin-top: -3.5vw;
    }

    .coding3 {
        margin-bottom: 1vw;
    }

}