.eduContainer {
    display: flex;
    width: 100%;
}

.eduContainer p {
    font-size: 1.5vw;
}

.eduleft {
    margin-left: 5vw;
    line-height: 0.5vw;
}

.eduright {
    margin-top: -0.3vw;
    margin-left: 8vw;
    line-height: 0.5vw;
}

@media (max-width: 768px) {
    .eduContainer p{
        font-size: 3.5vw;
    }

    .eduleft {
        line-height: 1vw;
    }

    .eduright {
        margin-top: 3.0vw;
        line-height: 1vw;
        margin-left: 7.0vw;
    }

    .july2024 {
        margin-top: 0.5vw;
    }

}