.nameContainer {
    background-color: rgb(255, 50, 60);
    color: white;
    padding: 5vw;
    border-radius: 5vw;
}

.kirubel {
    font-size: 3.7vw;
}

.fresh {
    font-size: 2.7vw;
}

@media (max-width: 768px) {
    .kirubel {
        font-size: 8vw;
    }

    .fresh {
        font-size: 5vw;
        margin-left: 1vw;
    }
}