.nameContainer {
    background-color: rgb(255, 50, 60);
    color: white;
    padding: 5vw;
    border-radius: 5vw;
}

.h1kirub {
    font-size: 3.7vw;
}

.h2fresh {
    font-size: 2.7vw;
}

@media (max-width: 768px) {
    .h1kirub {
        font-size: 8vw;
    }

    .h2fresh {
        font-size: 5vw;
    }
}