.refContainer {
    margin-left: 5vw;
    display: flex;
}

.refContainer p,
a {
    font-size: 1.5vw;
}

.refleft {
    width: 38%;
}

.refright {
    width: 55%;
}

.refright i {
    text-decoration: underline;
}

.ermi a {
    text-decoration: none;
}

.ermi2 {
    margin-left: 4.4vw;
    text-decoration: none;
}

.yekoye a {
    text-decoration: none;
}

.link1 {
    margin-left: 4.4vw;
    text-decoration: none;
}

.dani a {
    text-decoration: none;
}

.ermi a:hover,
.yekoye a:hover,
.dani a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .refContainer p,
    a {
        font-size: 3.5vw;
    }

    .ermi,
    .yekoye {
        margin-bottom: 11.5vw;
    }

    .ermi2,
    .link1 {
        margin-left: 10.5vw;
    }
}
