.workContainer {
    display: flex;
    margin-left: 5vw;
    width: 100%;
}

.workContainer p {
    font-size: 1.5vw;
}

.ison {
    margin-top: 3.5vw;
}

.workright {
    width: 65.0%;
    margin-right: 5.5vw;
}

.amn,
.csr {
    margin-top: 1.75vw;
}

.dev,
.it,
.csr {
    text-align: justify;
}

@media (max-width: 768px) {
    .ison {
        margin-top: 24vw;
    }

    .amn {
        margin-top: 20vw;
    }


    .workright {
        margin-right: 8vw;
    }

    .workContainer p {
        font-size: 3.5vw;
    }
}