.workContainer {
    display: flex;
    margin-left: 5vw;
    width: 100%;
}

.workContainer p {
    font-size: 1.5vw;
}

.workright {
    width: 65.0%;
    margin-right: 5.5vw;
}

.amn {
    margin-top: 1.75vw;
}

.it,.csr  {
    text-align: justify;
}

@media (max-width: 768px) {
    .amn {
        margin-top: 20vw;
    }

    .workright {
        margin-right: 8vw;
    }

   .workContainer p {
    font-size: 3.5vw;
   }
}