.workContainer {
    display: flex;
    margin-left: 5vw;
    width: 100%;
}

.workContainer p {
    font-size: 1.5vw;
}

.workright {
    margin-left: 7vw;
    width: 61.75%;
}

.it {
    text-align: justify;
}

@media (max-width: 768px) {
    .workright {
        margin-right: 8vw;
    }

   .workContainer p {
    font-size: 3.5vw;
   }
}