.aboutContainer {
    width: 100%;
}

.bio {
    margin-left: 5vw;
    line-height: 1.6vw;
    font-size: 1.45vw;
    text-align: justify;
}

@media (max-width: 768px) {

    .bio {
        font-size: 3.5vw;
        line-height: 1.4;
        margin-right: 3.0vw;

    }
}