.extraContainer {
    margin-left: 5vw;
    display: flex;
    width: 91.5%;
}

.extraContainer p {
    font-size: 1.5vw;
}

.extraleft {
    width: 60vw;
}

.fellow,
.space {
    line-height: 2.1vw;
}

.extraright {
    margin-left: 2vw;
}

.ptop {
    text-align: justify;
    margin-top: 1.15vw;
}

.pbottom {
    text-align: justify;
    margin-top: 2.73vw;
}

@media (max-width: 768px) {
    .extraContainer p {
        font-size: 3.5vw;
    }

    .extraleft {
        margin-bottom: 3vw;
    }

    .fellow {
        margin-bottom: 5vw;
    }

    .fellow,
    .space {
        line-height: 4.0vw;
    }

    .extraright {
        margin-right: 5vw;
        margin-left: 15vw;
    }

    .ptop {
        margin-top: 2.85vw;
        margin-bottom: 5.25vw;
    }
}